<% content_for :head do%>
	<%= javascript_include_tag "login" %>
	<%= stylesheet_link_tag "login" %>
<% end %>
<div id="page">
	<h3>This is the login page for Drink.Chew.Guru.</h3>
	<span id="signinButton">
		<span
		class="g-signin"
		data-callback="signinCallback"
		data-clientid="307247955504.apps.googleusercontent.com"
		data-cookiepolicy="single_host_origin"
		data-requestvisibleactions="http://schemas.google.com/AddActivity"
		data-scope="https://www.googleapis.com/auth/plus.login">
	</span>
	<h3>The following is a form to create a user. Its only to test creating a user until the OpenID stuff is done</h3>
	<table>
	<%= form_tag(:controller => "login", :action=> "create", :method => "get" ) do %>
		<tr><td><%= label_tag(:email, "Email:") %></td>
			<td><%= text_field_tag(:email) %></td></tr>
		<tr><td><%= label_tag(:fname, "First Name:") %></td>
			<td><%= text_field_tag(:fname) %></td></tr>
		<tr><td><%= label_tag(:lname, "Last Name:") %></td>
			<td><%= text_field_tag(:lname) %></td></tr>
		<tr><td><%= label_tag(:openid, "OpenId?") %></td>
			<td><%= text_field_tag(:openid) %></td></tr>
		<tr><td colspan=2><%= submit_tag("Create") %></td></tr>
	<% end %>
	</table>
</div>