<%= render "shared/header" %>

<div id="page">
	<div id="content">
		<h3> Profile for <%= @user.first_name%> <%=@user.last_name%> </h3>
		
		<table>
			<tr><th>Planned Events</th></tr>
			<% @user.events.each do |event|%>
			<tr><td><%= event.date_time%></td></tr>
			<% end %>
		</table>
		
		<h4>Todos From FourSquare</h4>
		<p>Click on the name of the location to create an event there.</p>
		<ul>
			<% @todos.each do |todo| %>
			<li>
				<span class="todoListing">
					<%= link_to "#{todo.name}", "/events/new/#{todo.id}"%>
				</span>
				</br>
				<span class="todoLocation">
					<%= "#{todo.location.city}, #{todo.location.state}"%>
				</spane>
			</li>
			<% end %>
		</ul>
		
		<h4>You have Oauth Tokens for the Following Providers</h4>
		<table>
			<tr>
				<th>Service Provider</th>
				<th>Created At</th>
			</tr>
				
		<% @user.oauth_tokens.each do |token|%>
			<tr>
				<td><%= token.provider%></td>
				<td><%= token.created_at%></td>
			</tr>
		<% end %>
		</table>
		<%= link_to "Click here to start creating a new event", "/venues/search" %>
		<br/>
		<br/>
		<br/>
		
		
		<h4>Friends to Invite</h4>
		<%= form_tag("/profile", method: "get") do  %>
			<table>
			<% @friends.each do |friend| %>
				<tr>
					<td> <%= check_box_tag("invite_#{friend.providerid}") %></td>
					<td> <%= image_tag friend.picture_url,  :alt => friend.first_name %></td>
					<td> <%= friend.first_name %></br> <%= friend.last_name %>
				</tr>
			<% end %>
			<tr>
				<td colspan=3>
					<%= submit_tag("Create Event!") %>
				</td>
			</tr>
			</table>
		<% end %>
		
		<ul>
		<% params.each do |param| %>
		<li><%= param %></li>
		<% end %>
		</ul>
	</div>
</div>