<%= render "shared/header" %>

<div id="page">
	<div id="content">
		<h3> Profile for <%= "#{@user.first_name} #{@user.last_name}" %> </h3>
		
		<h4>Planned Events:</h4>
		<% if @user.events.count == 0%>
			<p>No Events Planned!</p> <br/>
			<%= link_to "Click here to start creating a new event", "/venues/search" %>
		<% else %>
			<ul>
				<% @user.events.each do |event|%>
					<li><%= event.date_time%></li>
				<% end %>
			</ul>
		<% end %>
		
		<h4>Todos From FourSquare</h4>
		<p>Click on the name of the location to create an event there.</p>
		<ul>
			<% @todos.each do |todo| %>
			<li>
				<span class="todoListing">
					<%= link_to "#{todo.name}", "/events/new/#{todo.id}"%>
				</span>
				</br>
				<span class="todoLocation">
					<%= "#{todo.location.city}, #{todo.location.state}"%>
				</spane>
			</li>
			<% end %>
		</ul>
		
		<h4>You have Oauth Tokens for the Following Providers</h4>
		<table>
			<tr>
				<th>Service Provider</th>
				<th>Created At</th>
			</tr>
				
		<% @user.oauth_tokens.each do |token|%>
			<tr>
				<td><%= token.provider%></td>
				<td><%= token.created_at%></td>
			</tr>
		<% end %>
		</table>
	</div>
</div>