<%= render "shared/header" %>

<div id="page">
	<div id="content">
		<h3> Profile for <%= @user.first_name%> <%=@user.last_name%> </h3>
		
		<table>
			<tr><th>Planned Events</th></tr>
			<% @user.events.each do |event|%>
			<tr><td><%= event.date_time%></td></tr>
			<% end %>
		</table>
		
		<h4>Todos From FourSquare</h4>
		<p>Click on the name of the location to create an event there.</p>
		<ul>
			<% @todos.each do |todo| %>
			<li>
				<span class="todoListing">
					<%= link_to "#{todo.name}", "/events/new/#{todo.id}"%>
				</span>
				</br>
				<span class="todoLocation">
					<%= "#{todo.location.city}, #{todo.location.state}"%>
				</spane>
			</li>
			<% end %>
		</ul>
		
		<h4>You have Oauth Tokens for the Following Providers</h4>
		<table>
			<tr>
				<th>Service Provider</th>
				<th>Created At</th>
			</tr>
				
		<% @user.oauth_tokens.each do |token|%>
			<tr>
				<td><%= token.provider%></td>
				<td><%= token.created_at%></td>
			</tr>
		<% end %>
		</table>
		<%= link_to "Click here to start creating a new event", "/venues/search" %>
		<br/>
		<br/>
		<br/>
		
		
		<h4>Friends to Invite</h4>
		<%= form_tag("/profile", method: "post") do  %>
			<table>
			<% for i in 0..(@friends.count - 1)  %>
				<tr>
					<% for j in 0..5 %>
						<% if (i + j) < @friends.count %>
						<td colspan=2> <%= image_tag @friend[i + j].picture_url,  :alt => @friend[i + j].first_name %></td>
						<% else %>
						<td colspan=2></td>
						<% end %>
					<% end %>
				</tr>
				<tr>
					<% for j in 0..5 %>
						<% if (i + j) < @friends.count %>
						<td> <%= check_box_tag("invitee_#{@friends[i + j].providerid}") %></td>
						<td> <%= "#{@friend[i + j].first_name} #{@friend[i + j].last_name}" %></td>
						<% else %>
						<td colspan=2></td>
						<% end %>
					<% end %>
				</tr>
				<% i += 5 %>
			<% end %>
			<tr>
				<td colspan=10>
					<%= submit_tag("Create Event!") %>
				</td>
			</tr>
			</table>
		<% end %>
		
		<ul>
		<% params.each do |param| %>
		<li><%= param %></li>
		<% end %>
		</ul>
		<p>Invitee Ids</p>
		<p><%= @invitees %></p>
	</div>
</div>