<%= render "shared/header" %>

<div id="page">
	<div id="content">
		<h3> Profile for <%= @user.first_name%> <%=@user.last_name%> </h3>
		
		<table>
			<tr><th>Planned Events</th></tr>
			<% @user.events.each do |event|%>
			<tr><td><%= event.date_time%></td></tr>
			<% end %>
		</table>
		
		<%= link_to "Click here to start creating a new event", "/venues/search" %>
	</div>
</div>