<%= javascript_include_tag "main" %>
<%= stylesheet_link_tag "main" %>
<div id="TopHeader">
	<span id="logo">Drink.Chew.Guru</span>
	<div id="linkMenu">
		<ul>
<% if session.has_key?(:userid)%>			
			<li class="menulink"><%= link_to "Profile", "/profile" %></li>
			<li class="menulink"><%= link_to "Search", "/venues/search" %></li>
			<li class="menulink"><%= link_to "Sign Out", "/signout" %></li>
<% end %>
			<li class="menulink"><%= link_to "Privacy", "/privacy"%></li>
		</ul>
	</div>
</div>
<% if params.has_key?(:error) %>
<div id="error">
	<span>
		<p class="errorText"><%= params[:error] %></p>
	</span>
</div>
<% end %>

<div class="notices">
	<% flash.each do |name, msg| %>
	  <%= content_tag :div, msg, :id => "flash_#{name}" %>
	<% end %>
</div>
	