<% content_for :head do%>
	<%= javascript_include_tag "login" %>
	<%= stylesheet_link_tag "login" %>
<% end %>
<%= render "shared/header" %>


<div id="page">
	<div id="content">
		<%= render "shared/venue_info" %>
		<%= form_tag("/profile", method: "post") do  %>
		<!-- Form for Google Calendar and Event Info -->
		<h4>Event Info</h4>
		
		<%=label_tag(:LABELEvent_Name, "Enter Event Name:")%>
		<%=text_field_tag(:Event_Name)%><br/>
		 		
 		<%=label_tag(:LABELEvent_Date, "Enter Date:")%>
 		<%=date_select(:Event,:Event_Date)%><br/>
 		
 		<%=label_tag(:LABELEvent_Time, "Enter Time:")%>
 		<%=datetime_select(:Event,:Event_Time)%><br/>
		
		<%=label_tag(:Event_Description, "Event Description:")%>
		<%=text_area_tag(:Event_Description, "Blah Blah", size: "24x6")%><br/>
		
		
		
		<h4>Friends to Invite</h4>
			<table>
			<% i = 0%>
			<% while i < @friends.count %>
				<tr>
					<% for j in 0..4 %>
						<% if (i + j) < @friends.count %>
						<td colspan=2> <%= image_tag @friends[i + j].picture_url,  :alt => @friends[i + j].first_name %></td>
						<% else %>
						<td colspan=2></td>
						<% end %>
					<% end %>
				</tr>
				<tr>
					<% for j in 0..4 %>
						<% if (i + j) < @friends.count %>
						<td> <%= check_box_tag("invitee_#{@friends[i + j].providerid}") %></td>
						<td> <%= "#{@friends[i + j].first_name} #{@friends[i + j].last_name}" %></td>
						<% else %>
						<td colspan=2></td>
						<% end %>
					<% end %>
				</tr>
				<% i += 5 %>
			<% end %>
			<tr>
				<td colspan=10>
					<%= submit_tag("Create Event!") %>
				</td>
			</tr>
			</table>
		<% end %>
		
		<ul>
		<% params.each do |param| %>
		<li><%= param %></li>
		<% end %>
		</ul>
		<p>Invitee Ids</p>
		<p><%= @invitees %></p>
		<p><%= @invitees.end_with?(',')%>
	</div>
</div>
