<h1>Listing events</h1>

<table>
  <tr>
    <th>Event</th>
    <th>Loacation</th>
    <th>Date time</th>
    <th>Facebook</th>
    <th>Google</th>
    <th>Email invitees</th>
    <th>Facebook invitees</th>
    <th>Created by</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.event_id %></td>
    <td><%= event.loacation_id %></td>
    <td><%= event.date_time %></td>
    <td><%= event.facebook_id %></td>
    <td><%= event.google_id %></td>
    <td><%= event.email_invitees %></td>
    <td><%= event.facebook_invitees %></td>
    <td><%= event.created_by %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_event_path %>
