<% content_for :head do%>
	<%= javascript_include_tag "login" %>
	<%= stylesheet_link_tag "login" %>
<% end %>
<%= render "shared/header" %>


<div id="page">
	<div id="content">
		<%= render "shared/venue_info" %>
		<%= form_tag("/events/new/#{@venue_id}", method: "post") do  %><br/>
		<!-- Form for Google Calendar and Event Info -->
		<h3>Start Creating Your Event!</h3>
		<h4><br/>Event Info</h4>
		
		<%= hidden_field_tag 'venue_id', "#{@venue_id}" %>
		<%=label_tag(:label_event_name, "Enter Event Name:")%>
		<%=text_field_tag(:event_name)%><br/>
		 		
 		<%=label_tag(:label_event_date, "Enter Date:")%>
 		<%=date_select(:event,:event_date)%><br/>
 		
		<%=label_tag(:label_event_stime, "Enter Start Time:")%>
 		<%=time_select(:event,:start_event_time)%><br/>
		
		<%=label_tag(:label_event_etime, "Enter End Time:")%>
 		<%=time_select(:event,:end_event_time)%><br/>
		
		<%=label_tag(:label_event_Description, "Event Description:")%><br/>
		<%=text_area_tag(:event_description, "Blah Blah", size: "24x6")%><br/>
		
		
		
		<h4>Friends to Invite</h4>
			<table>
			<% i = 0%>
			<% while i < @friends.count %>
				<tr>
					<% for j in 0..4 %>
						<% if (i + j) < @friends.count %>
						<td colspan=2> <%= image_tag @friends[i + j].picture_url,  :alt => @friends[i + j].first_name %></td>
						<% else %>
						<td colspan=2></td>
						<% end %>
					<% end %>
				</tr>
				<tr>
					<% for j in 0..4 %>
						<% if (i + j) < @friends.count %>
						<td> <%= check_box_tag("invitee_#{@friends[i + j].providerid}") %></td>
						<td> <%= "#{@friends[i + j].first_name} #{@friends[i + j].last_name}" %></td>
						<% else %>
						<td colspan=2></td>
						<% end %>
					<% end %>
				</tr>
				<% i += 5 %>
			<% end %>
			<tr>
				<td colspan=10>
					<%= submit_tag("Create Event!") %>
				</td>
			</tr>
			</table>
		<% end %>
		
		<ul>
		<% params.each do |param| %>
		<li><%= param %></li>
		<% end %>
		</ul>
		<p>Invitee Ids</p>
		<p><%= @invite_string %></p>
		
		<p>Request URL</p>
		<p><%= @requestURL%></p>
		<p>Response</p>
		<p><%= @response.body%></p>
		
		<% if !@date.nil? %>
		<p><%= "Date: #{@date}" %></p>
		<% end %>
	</div>
</div>
