<% content_for :head do%>
	<%= javascript_include_tag "login" %>
	<%= stylesheet_link_tag "login" %>
<% end %>
<%= render "shared/header" %>


<div id="page">
	<div id="content">
		
		<!-- Form for Google Calendar and Event Info -->
		<%= @request_url %> </br>
		<%= @response.body %>
	</div>
</div>
