<% content_for :head do%>
	<%= javascript_include_tag "login" %>
	<%= stylesheet_link_tag "login" %>
<% end %>
<%= render "shared/header" %>


<div id="page">
	<div id="content">
		<%= render "shared/venue_info", :locals => {:show_create_link => false}  %>
		<!-- Form for Google Calendar and Event Info -->
		<h4>Friends to Invite</h4>
		<table>
		<% @friends.each do |friend| %>
			<tr>
				<td> [ ] </td>
				<td> <%= image_tag friend.picture_url,  :alt => friend.first_name %></td>
				<td> <%= friend.first_name %></br> <%= friend.last_name %>
			</tr>
		<% end %>
		</table>
	</div>
</div>
