<html>
<%= render "shared/header" %>
<div id="page">
	<div id="content">
		<h2>search a venue</h2>
		
		<%=form_tag do %>
		enter location:<%=search_field_tag 'location'%><br/>
		enter search:<%=search_field_tag 'query'%><br/>
		<%=submit_tag 'submit your search'%>
		<%end%>
		<div>
			<%=@location%><br/>
			<%=@query%>
		</div>
		 
 
      <% @responseJson.each do |doc|%> 
          <%=doc["id"]%> 
          <%= doc["name"]%>
		  <%= doc.inspect %>
		 
		<%end%> 
		 
	</div>
</div>
</html>
