<%= render "shared/header" %>
<div id="page">
	<div id="content">
		<h2>search a venue</h2>
		
		<%=form_tag do %>
		<table>
			<tr><td>enter location:</td><td><%=search_field_tag 'location'%></td></tr>
			<tr><td>enter search:</td><td><%=search_field_tag 'query'%></td></tr>
			<tr><td colspan=2><%=submit_tag 'submit your search'%></td></tr>
		</table>
		<%end%>
		<div>
			<%=@location%><br/>
			<%=@query%><br/>
		</div>
		
		<% if @venues.count > 0%>
		<ul>
			<% @venues.each do |venue|%>
			<li>
				<span class="todoListing">
				<%= link_to "#{venue.name}", "/event/create/#{venue.id}" %>
				</span>
				<br/>
				<span class="todoLocation">
					<%= "#{venue.location.to_s}"%>
				</span>
			</li>
			<% end %>
		</ul>
		<% end  %>
		
	</div>
</div>
