<%= render "shared/header" %>
<div id="page">
	<div id="content">
		<h1>search a venue</h1>
		<%=form_tag do %>
		enter city:<%=search_field_tag 'cityname'%><br/>
		<%=submit_tag 'submit your search'%>

		<%end%>
		<div>
			<%=@city%>
		</div>
		<div>
			<%@reul_url%>
		</div>
	</div>
</div>