We were able to link your profile to Facebook. As proof, here are some of your friends.

<% if params[:provider] == "Facebook" %>
<table>
	<tr>
<% @responseJSON["data"].each do |person| %>
		<td><%= image_tag person["picture"]["data"]["url"], :alt => person["first_name"] %></td> 
<% end %>
	</tr>
	<tr>
<% @responseJSON["data"].each do |person| %>
		<td><%= person["first_name"] %></td> 
<% end %>
	</tr>
</table>
<% elsif params[:provider] == "Facebook" %>
<ul> Your List of Google Calendars
	<% @responseJSON["items"].each do |calendar| %>
	<li><%= calendar["summary"]%></li>
	<% end %>
</ul>
<% elsif params[:provider] == "FourSquare" %>

<% end %>

<table>
	<tr><td><%= @tokenResponse.header["Content-Type"] %></td></tr>
	<tr><td><%= @tokenResponse.body %></td></tr>
	<tr><td>---------------------</td></tr>
	<tr><td><%= @response.header["Content-Type"] %></td></tr>
	<tr><td><%= @response.body %></td></tr>
	<tr><td><%= @responseJSON %></td></tr>
</table>
<h3><%= link_to "Click here to return to the tokens page", "/oauth/" %></h3>