loading
<table>
	<tr><td>Code: <%= @code %></td></tr>
	<tr><td>State: <%= @state %></td></tr>
	<tr><td>Exchange URL: <%= @exchangeURL %></td></tr>
	<tr><td>Exchange URL: <%= @responseJSON.to_s %></td></tr>
	<tr><td>Exchange URL: <%= @responseJSON.body %></td></tr>
</table>