loading
<table>
	<tr><td>Code: <%= @code %></td></tr>
	<tr><td>State: <%= @state %></td></tr>
	<tr><td>Exchange URL: <%= @exchangeURL %></td></tr>
	<tr><td>Response Methods: <%= @responseJSON.methods %></td></tr>
	<tr><td>Response Body: <%= @responseJSON.body %></td></tr>
	<tr><td>Response Array: <%= @responseJSON.content_type %></td></tr>
	<tr><td>to_param: <%= @responseJSON.to_param %></td></tr>
	<tr><td>instance variables: <%= @responseJSON.instance_variables %></td></tr>
	<tr><td>to_json: <%= @responseJSON.to_json %></td></tr>
	<tr><td>body: <%= @responseJSON.body %></td></tr>
</table>