<b>We were able to link your profile to <%= params[:provider] %>. As proof, here is some of your data.</b>

<% if params[:provider] == "Facebook" %>
<table>
	<tr>
		<% @responseJSON["data"].each do |person| %>
		<td><%= image_tag person["picture"]["data"]["url"], :alt => person["first_name"] %></td> 
		<% end %>
	</tr>
	<tr>
		<% @responseJSON["data"].each do |person| %>
		<td><%= person["first_name"] %></td> 
		<% end %>
	</tr>
</table>
<% elsif params[:provider] == "Google" %>
<ul> Your List of Google Calendars
	
</ul>
<% elsif params[:provider] == "FourSquare" %>
<ul>

</ul>
<% end %>

<table>
	<tr><td><%= @tokenResponse.header["Content-Type"] %></td></tr>
	<tr><td><%= @tokenResponse.body %></td></tr>
	<tr><td>---------------------</td></tr>
	<tr><td><%= @requestURL %></td></tr>
	<tr><td><%= @response.header["Content-Type"] %></td></tr>
	<tr><td><%= @response.body %></td></tr>
	<tr><td><%= @responseJSON %></td></tr>
</table>
<h3><%= link_to "Click here to return to the tokens page", "/oauth/" %></h3>