<h1>Listing oauth_tokens</h1>

<h3><%= @fb.getOAuthTokenRequest %></h3>

<table>
<% @oauth_tokens.each do |oauth_token| %>
  <tr>
    <td><%= oauth_token.username %></td>
    <td><%= oauth_token.service_name %></td>
    <td><%= oauth_token.accress_token %></td>
    <td><%= oauth_token.secret_token %></td>
    <td><%= oauth_token.refresh_token %></td>
  </tr>
<% end %>
</table>

<br />
