<html>
<head>
<h2> This is the page after login... </h2>
</head>
<body>
First Name: <%= @fname %> </br>
Last Name: <%= @lname %> </br>
Google Email Id: <%= @email %> </br>
OpenId Url: <%= @identity_url %> </br>
USER Details: <%= @user %> </br>
First Name = <%= @user.first_name %> </br>
Last Name = <%= @user.last_name %> </br>
Email = <%= @user.email %>
</body>
</html>