<html>
<head>
<h2> This is the page after login... </h2>
</head>
<body>
First Name: <%= @fname %> </br>
Last Name: <%= @lname %> </br>
Google Email Id: <%= @email %> </br>
OpenId Url: <%= @identity_url %> </br>
USER: <%= @user %>
</body>
</html>